name: CI

on:
  delete:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Test
      env:
        YOUR_SECRET_NAME: ${{ secrets.YOUR_SECRET_NAME }}
      run: env
