name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Test
      env:
        YOUR_SECRET_NAME: ${{ secrets.YOUR_SECRET_NAME }}
      run: echo "Hello, $YOUR_SECRET_NAME"
